# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vim swap files
*.swp
*.swo

# secrets files
.secrets.*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

debhelper-build-stamp
.DS_Store
*.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
/.vagrant
debian/artbot
debian/files
/tutorial-1/packageroot/usr
