Source: artbot
Section: python
Priority: extra
Maintainer: Lux <sr.Lux1nt@gmail.com>
Build-Depends: debhelper (>=9), python3.8

Package: artbot
Architecture: any
Depends: ${misc:Depends}, libftdi1
Description: A simple bot to control lights with USB DMX controller
